
/* Hauteur-Largeur des cases et Bordure des cases */
.row div {
	height: 10%;
	width: 10%;
	border: solid silver 1px;
	overflow: hidden;
	padding-left: 3px;
}

/* Texte Tour */
.tour {
	font-weight: bold;
}

/* Couleur des murs */
.mur {
	background: radial-gradient(black, grey);
	border: solid black 1px !important;
	border-radius: 10px;
}

/* Section Infos du jeu */
section {
	text-align: center;
	background-color: silver;
	border: solid grey 2px;
	padding-top: 25px;
	margin-top: 15px;
	height: 95%;
}

/* Bouton couleur et position */
button {
	border: solid grey 2px;
	background-color: silver;
	color: black !important;
	font-weight: bold !important;
	margin: 5px 0px 5px 20px !important;
	width: 93.8%;
}

/* ### BORDURES DU PLATEAU ### */
.row {
	border: solid grey 1px;
	margin-left: 20px !important;
	margin-right: 20px !important;
}

/* ### TABLETTE ### */
@media(max-height: 590px) {
    /* Taille texte */
    section {
    	font-size: 0.8em;
    }
}